<!--=== Top ===-->
<div class="browse">
  <div class="container">
    <ul>
      <li>Electronics</li>
      <li>Home</li>
      <li>Beauty</li>
      <li>Toys</li>
      <li>Clothing</li>
      <li>Outdoors</li>
      <li class="account">
        <div class="cart pull-right">
          <div class="fa fa-shopping-cart fa-2x">
          </div>
        </div>
        </li>
    </ul>
  </div>
</div>

<div class="top">
  <div class="container">
    <div class="logo">
      <img src="https://farm8.staticflickr.com/7710/17108800416_a0e3d8f407_n.jpg">
    </div>
</div>